<h2 mat-dialog-title>Changer de type de donnée</h2>
<mat-dialog-content>
  Ce bouton vous permet de changer de type de donnée afin de visualiser les
  <strong>différents contextes</strong> dont Flexigraph peut être utilisé.

  <br />
  <br />

  <mat-form-field appearance="outline">
    <mat-select
      [(value)]="data.typeOfDataSelected"
      placeholder="Type de donnée">
      @for (typeOfData of data.listOfTypeOfData; track typeOfData) {
        <mat-option [value]="typeOfData">{{ typeOfData.viewValue }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <br />
  <br />

  <strong>Attention</strong>, en changeant de type de donnée, vous perdrez
  toutes les données actuelles ainsi que <strong>tous les graphiques</strong>.
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button (click)="onNoClick()">Annuler</button>
  <button
    mat-raised-button
    (click)="onYesClick()"
    cdkFocusInitial
    color="primary">
    Confirmer
  </button>
</mat-dialog-actions>
