<div class="landing-container">
  <header class="landing-header">
    <div class="overlay"></div>
    <h1>Bienvenue sur Flexigraph</h1>
    <p>
      Créez vos propres graphiques et votre dashboards personnalisé facilement
    </p>
    <a routerLink="/dashboard" class="cta-button">Commencez maintenant</a>
  </header>

  <section>
    <img
      class="computer"
      src="assets/images/landing/screen.png"
      alt="Vidéo d'explication" />
  </section>

  <section class="features">
    <h1>Comment ça marche ?</h1>

    <div class="all-feature">
      <div class="feature">
        <h2>Créez vos graphiques</h2>
        <video
          class="video"
          controls
          autoplay
          muted
          loop
          src="assets/videos/landing/create_chart.mp4"
          alt="Vidéo d'explication">
          Votre navigateur ne supporte pas la vidéo.
        </video>
        <p>
          Choisissez parmi différents types de graphiques et personnalisez les
          données, les titres, et plus encore.
        </p>
      </div>

      <div class="feature">
        <h2>Organisez votre dashboard</h2>
        <video
          class="video"
          controls
          autoplay
          muted
          loop
          src="assets/videos/landing/moove_chart.mp4"
          alt="Vidéo d'explication">
          Votre navigateur ne supporte pas la vidéo.
        </video>
        <p>
          Déplacez et redimensionnez vos graphiques pour créer un dashboard qui
          répond à vos besoins.
        </p>
      </div>
      <div class="feature">
        <h2>Gérer vos données</h2>
        <video
          class="video"
          controls
          autoplay
          muted
          loop
          src="assets/videos/landing/data_chart.mp4"
          alt="Vidéo d'explication">
          Votre navigateur ne supporte pas la vidéo.
        </video>
        <p>
          Possibilité de créer, modifier et supprimer des données pour vos
          graphiques.
        </p>
      </div>
    </div>
  </section>

  <footer class="landing-footer">
    <p>&copy; 2024 Flexigraph. Tous droits réservés.</p>
  </footer>
</div>
