<div class="landing-container">
  <header class="landing-header">
    <div class="overlay"></div>
    <h1>Bienvenue sur Flexigraph</h1>
    <p>Créez vos propres graphiques et dashboards personnalisés facilement</p>
    <a routerLink="/dashboard" class="cta-button">Commencez maintenant</a>
  </header>

  <section>
    <img
      class="computer"
      src="assets/images/landing/screen.png"
      alt="Vidéo d'explication" />
  </section>

  <h1>Lorem ipsum lertgj gfezoig gorze grzeon goer!</h1>

  <section class="features">
    <div class="feature">
      <h2>Créez et personnalisez vos graphiques</h2>
      <img src="assets/images/chart.svg" alt="Vidéo d'explication" />
      <p>
        Choisissez parmi différents types de graphiques et personnalisez les
        données, les titres, et plus encore.
      </p>
    </div>

    <div class="feature">
      <h2>Organisez votre dashboard</h2>
      <img src="assets/images/chart.svg" alt="Vidéo d'explication" />
      <p>
        Déplacez et redimensionnez vos graphiques pour créer un dashboard qui
        répond à vos besoins.
      </p>
    </div>
    <div class="feature">
      <h2>Facile à utiliser</h2>
      <img src="assets/images/chart.svg" alt="Vidéo d'explication" />
      <p>
        Une interface intuitive pour une création de graphiques sans effort.
      </p>
    </div>
  </section>

  <footer class="landing-footer">
    <p>&copy; 2024 Flexigraph. Tous droits réservés.</p>
  </footer>
</div>
