<div class="chart-form">
  <h2 mat-dialog-title>Créer un nouveau graphique</h2>

  <mat-form-field appearance="outline">
    <mat-label>Titre</mat-label>
    <input matInput [(ngModel)]="title" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Type de graphique</mat-label>
    <mat-select [(ngModel)]="type">
      <mat-option *ngFor="let type of listOfTypesChart" [value]="type">
        {{ type }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  @for (entry of selectedEntries; track entry; let i = $index) {
    <div class="entry-container">
      <mat-form-field appearance="outline">
        <mat-label>Année</mat-label>
        <mat-select
          [(ngModel)]="entry.year"
          (selectionChange)="updateDataOptions(i)">
          <mat-option *ngFor="let data of listOfData" [value]="data.year">
            {{ data.year }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Données</mat-label>
        <mat-select [(ngModel)]="entry.data" multiple>
          <mat-option *ngFor="let data of entry.availableData" [value]="data">
            {{ data.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button (click)="removeEntry(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  }

  <button
    mat-raised-button
    color="primary"
    (click)="addEntry()"
    [disabled]="selectedEntries.length >= 4">
    Ajouter une data
  </button>
  <mat-dialog-actions align="end">
    <button mat-raised-button (click)="onNoClick()">Annuler</button>
    <button
      mat-raised-button
      (click)="createChart()"
      color="primary"
      [disabled]="!title || !type || selectedEntries.length === 0">
      Créer
    </button>
  </mat-dialog-actions>
</div>
