<div class="chart-form">
  <h2 mat-dialog-title>Modifier votre graphique</h2>
  <mat-form-field appearance="outline">
    <mat-label>Titre</mat-label>
    <input matInput [(ngModel)]="title" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Type de graphique</mat-label>
    <mat-select [(ngModel)]="type">
      @for (type of listOfTypesChart; track type) {
        <mat-option [value]="type">
          {{ type }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Données</mat-label>
    <mat-select [(ngModel)]="data" multiple>
      @for (oneData of listOfData; track oneData) {
        <mat-option [value]="oneData">
          {{ oneData.label }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-dialog-actions align="end">
    <button mat-raised-button (click)="onNoClick()">Annuler</button>
    <button
      mat-raised-button
      (click)="updateChart()"
      color="primary"
      [disabled]="!title || !type || !data.length">
      Modifier
    </button>
  </mat-dialog-actions>
</div>
