<div class="container" [class.is-mobile]="mobileQuery.matches">
  <!-- ToolBar -->
  <app-navbar (toggleSidenav)="side.toggle()" />

  <mat-sidenav-container
    class="sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <!--  SideNav  -->
    <mat-sidenav
      #side
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      [opened]="true"
      fixedTopGap="56">
      <!-- Liste de tous les graphiques crée -->
      <div class="side-container">
        <div class="list">
          <app-chart-list />
        </div>

        <button
          class="create-button"
          mat-flat-button
          color="primary"
          (click)="openDialog()">
          Créer un graphique
        </button>
      </div>
    </mat-sidenav>

    <!--  Content  -->
    <mat-sidenav-content>
      <app-chart-zone />
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
